<%= form_for @order do |f| %>

    <h3>Order Details</h3>

    <p>Orders can only be modified or cancelled within 2 days on when they're placed.</p>

    <p>
      <%= f.label "Enter A Delivery Address: " %>
      <%= f.text_field :address, :required => true, :placeholder => "167 Collin Street, Melbourne" %>
    </p>

    <p>
      <%= f.submit %>
    </p>

<% end %>
