<h2>Place An Order</h2>

<p>We strive to fulfil all orders for basic good within 1-2 weeks of the date they're submitted</p>

<% if @current_user.orders.count < 2 %>
  <%= render :partial => "form" %>
<% else %>
  <p>You cannot have more than 2 active orders at a time</p>
<% end %>
