/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
   text-align: center;
   color: #1d3557;
   background-color: #f1faee;
   font-family: 'Raleway', sans-serif;
   margin: 100px auto;
   /* box-sizing: border-box; */
 }

 header {
   width: 100%;
   position: fixed;
   top: 0;
 }

 h1 {
   font-family: 'Rubik', sans-serif;
   background-color: #1d3557;
   color: #f1faee;
   letter-spacing: 5px;
   text-align: center;
   font-size: 3.5rem;
   font-weight: 400;
   margin: 0;
   padding: 10px 0;
   width: 100%;
   text-shadow: 2px 2px 2px black;
 }

 nav {
   background-color: #1d3557;
   height: 7vh;
 }

 nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   height: 100%;
   display: flex;
   justify-content: space-around;
 }

 nav ul li {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   height: 100%;
   margin: 0;
   font-size: 1.3rem;
 }

 nav ul li:hover, nav ul li:active {
   background-color: #457b9d;
 }

 nav ul li a {
   font-size: 1.1rem;
   color: #f1faee;
   margin: 0;
   text-shadow: 1px 1px 1px black;
 }

 main {
   margin-top: 200px;
 }

 h2 {
   font-size: 3rem;
   font-weight: 800;
   color: #001233;
   margin-top: 0;
 }

 h2 + a {
   font-size: 1.5rem;
   font-weight: 800;
   color: #001233;
   padding: 10px;
   border-radius: 15px;
   border: none;
 }

 h3 {
   font-size: 2rem;
   color: #001233;
 }

 main div.details {
   display: flex;
   justify-content: center;
   align-items: flex-start;
 }

 main > div > div {
   display: inline-block;
   width: 45%;
   margin-bottom: 40px;
 }

 main a:hover {
   color: #457b9d;
 }

 p {
   margin: 50px auto;
   width: 90%;
 }

 main p {
   font-size: 1.3rem;
 }

 main div p {
    font-size: 1.5rem;
 }

 span {
   display: inline-block;
   margin: 15px;
 }

 a {
   text-decoration: none;
   font-weight: 800;
   color: #1d3557;
   margin-left: 10px;
   margin-right: 10px;
 }

 strong {
   margin-left: 10px;
   color: #001233;
 }

 form {
   margin: 20px auto;
 }

 label {
   color: #001233;
   font-size: inherit;
   font-weight: 800;
   margin: 1%;
 }

 input, select {
   font-size: 1.5rem;
   text-align: center;
   width: 300px;
   background: transparent;
   padding: 2px;
   border: 1px solid #eecf6d;
   border-bottom: 2px solid #001233;
   outline: none;
 }

 input[type=number] {
   width: 240px;
   font-size: 1.8rem;
 }

 input[readonly=readonly] {
   display: none;
 }

input[type=submit] {
  font-size: 1.5rem;
  font-weight: 800;
  color: #f1faee;
  background-color: #006466;
  padding: 10px;
  border-radius: 15px;
  border: none;
}

input[type=submit]:hover {
  background-color: #457b9d;
}

form.disabled input[type=number] {
  color: grey;
}

form.disabled input[type=submit] {
  background-color: #99c1de;
  cursor: default;
}

input:hover {
   cursor: pointer;
 }

footer {
   width: 100%;
   position: fixed;
   bottom: 0;
 }
