// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body {
  text-align: center;
  font-size: 1.5rem;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  margin: 2%;
  font-size: 1.5rem;
}

li a {
  margin: 0;
}

a {
  margin: 1%;
  text-decoration: none;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

label {
  font-size: 1.2rem;
  margin: 1%;
}

input {
  font-size: 1.5rem;
  text-align: center;
}

input[type=number] {
  width: 3%;
}

input[readonly=readonly] {
  display: none;
}
