<h2>List of Products</h2>

<% @products.map do |product| %>
  <p>
      <strong>Name: </strong><%= product.name %>,
      <strong>Category: </strong><%= product.category %>
      <% if @current_user.admin? %>
        <strong>Labour Hours: </strong><%= product.labour_hours %>
        <%= link_to "Edit", edit_product_path(product.id) %>
      <% end %>
  </p>
<% end %>
